node_modules
.env
../.idea/
package-lock.json
package.json
tsconfig.json

# Hardhat files
/cache
/artifacts
hardhat.config.ts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
